/* configer table */
.configer-table {
    border-bottom: 1px solid #ddd;
}

.table.configer-table>tbody>tr>td {
    border-top-color: #d2d2d2;
}

.configer-table-field {
    padding: 0 !important;
}


.configer-table-field input {
    width: 100%;
    border: 0;
    padding: 8px;
    background: #f5f5f5;
}

.configer-table-field textarea {
    width: 100%;
    border: 0;
    height: 100px;
    resize: vertical;
}

.configer-table-remove {
    color: #f44336;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    padding: 0 !important;
    line-height: 36px !important;
}

/* configer text */
.configer-text {
    resize: vertical;
    min-height: 100px;
    margin-bottom: 5px;
}